body {
  font-family: poppins, sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

#fundo {
  background-color: #f4f4f4;
  padding: 20px;
}

.icon_action {
  width: 24px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1224px;
  margin: 0 auto;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.active {
  color: #ff7120;
}

.active::before {
  content: "•";
  color: #ff7120;
  font-size: 24px;
  position: absolute;
  margin-top: 10px;
  margin-left: 37px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.number {
  background-color: red;
  color: white;
  position: absolute;
  font-size: 10px;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 50%;
  margin-left: -11px;
  margin-top: -4px;
}

.btn-login {
  background-color: #023047;
  color: #ccc;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
}

content {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.cont-left {
  flex: 1;
}

.cont-left h1 {
  font-family: serif;
  font-weight: bold;
  font-size: 65px;
  color: #023047;
}

.cont-left h3 {
  font-weight: 500;
  color: #333333;
  margin-top: 20px;
}

.cont-right {
  flex: 1;
}

.orange {
  color: #ff7120;
}

.cacto {
  position: absolute;
  margin-left: 320px;
  margin-top: 70px;
}

.form {
  border-radius: 10px;
  padding: 25px;
  font-size: 18px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 10px #cccc;
  flex: 2;
}

.btn {
  border-radius: 10px;
  padding: 25px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 18px;
  flex: 1;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 10px #cccc;
  background-color: #023047;
  color: white;
  flex: 1;
}

.container-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 60px;
}

.pizza {
  position: absolute;
  z-index: 2;
  margin-top: -120px;
  margin-left: 230px;
}

.azul {
  color: #023047;
}

.categorias {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.categoria h5 {
  margin-top: 7px;
}

.categoria img {
  width: 50px;
  height: 50px;
  background-color: #023047;
  color: white;
  padding: 40px;
  border-radius: 15px;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cards-header h1,
#categorias h1 {
  font-size: 36px;
}

.cards-link {
  font-size: 17px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.cards-header h1:hover,
.cards-header a:hover,
#categorias h1:hover {
  text-decoration: underline;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 10px #cccc;
  margin-bottom: 20px;
}

.avaliacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: -50px;
}
.avaliacao svg {
  width: 32px;
}
.avaliacao h4 {
  font-size: 27px;
  color: #333333;
}

.localizacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: -45px;
  margin-left: -5px;
}
.localizacao img {
  width: 45px;
}
.localizacao p {
  font-size: 18px;
  color: #333333;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: #023047 40px solid;
}

footer h3 {
  font-size: 20px;
  color: #333333;
}

footer p {
  font-size: 16px;
  color: #333333;
}

footer a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
}

footer ul li {
  list-style-type: none;
  margin-left: -40px;
  margin-top: 10px;
}

.footer-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#redes-sociais {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.content-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 150px;
}
.content-about img {
  width: 393;
  height: 295px;
}
.content-about h1 {
  font-size: 45px;
  color: #252525;
  font-family: Rubik, sans-serif;
}
.content-about p {
  font-size: 24px;
  color: #333333;
}

.categorias-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 50px;
  margin-top: 60px;
}

.categorias-form input {
  flex: none;
  width: 1050px !important;
}

.categorias-form button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categorias-form div {
  width: 30px;
}

.detalhes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.detalhes-header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.detalhes-header h1 {
  color: #252525;
  font-size: 45px;
}
.detalhes-link {
  font-size: 18px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

#horarios {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
#horarios p {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  margin-top: -5px;
}
#horarios #hora1 {
  background-color: #1cc34b;
  color: white;
}
#horarios #hora2 {
  background-color: #d9d9d9;
  color: black;
}

#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}
.item-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 30px;
  width: 150px;
}
.item-menu img {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  width: 25px;
  height: 25px;
  margin-left: none;
}
#menu-active {
  background-color: #023047;
  color: white;
}

#combos {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  overflow: hidden;
}

.combo img {
  width: 245px;
  height: 285px;
  border-radius: 17px;
  object-fit: cover;
}

.peca-agora {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: -30px;
}
.peca-agora img {
  width: 10px;
  height: 10px;
}

.combo-cor {
  width: 245px;
  height: 285px;
  border-radius: 17px;
  position: absolute;
  margin-top: -290px;
  background-color: rgba(0, 0, 0, 0.418);
  color: white;
}
.combo-cor span {
  color: #f2c94c;
  font-weight: bold;
  font-size: 13px;
}
.combo-info {
  margin-top: 180px;
  margin-left: 15px;
}

.combo-info .combo-nome {
  font-size: 20px;
}

.combo-info h4 {
  font-size: 18px;
  margin-top: -10px;
}

#navegacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
#navegacao p {
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navegacao #nav1 {
  background-color: #E0E0E0;
  color: black;
}
#navegacao #nav2 {
  background-color: #023047;
  color: white;
}
